$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

.table {
	@apply min-w-[1440px]   xl:min-w-full;
	&-header {
		@apply flex min-w-full bg-bodyBackground text-primary capitalize;
		padding: ($half-spacing-unit * 1.5) 0;
	}
	&-row {
		@apply flex w-full;
		padding: ($half-spacing-unit * 1.5) 0;
		&:nth-of-type(even) {
			@apply bg-bodyBackground;
		}
	}
	&_wrapper {
		@apply overflow-x-auto;
	}
	&__pagination {
		@apply flex flex-col justify-center items-center space-y-2 md:space-y-0 md:flex-row md:justify-between w-full  py-4 px-6 border-t border-borderBottomColor;

		&__info {
			@apply text-sm;
		}
	}
}

.table-data,
.header__item {
	flex: 1 1 20%;
	text-align: start;
	@apply px-4;
}
